.login-container {
    border:2px solid #cfd8dc;
    display:flex;   
}
.banner {
    width:100%;
}
.login-card {
    background-color:white;
    padding:0;
}
.login-card h2 {
    margin: 0;
    padding: 15px;
    background-color: slategrey;
    color: white;
}
.col {
    padding:0;
}
.login-section{
    margin: 15px;
}
.login-section h3{
    border-bottom:2px solid #90a4ae;
    padding-bottom: 10px;
    color: #607d8b;
}
.login-section input{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 15px;
}
.input-item{
    padding: 10px 0px 10px 0px;
}
.login-section input[type="submit"] {
    background-color: slategrey;
    border: none;
    color: white;
    font-weight: 600;
}
span[data-val-isvalid="False"] {
    color: #f44336;
}
.navbar{
    background-color: slategrey;
    border:0;
}
.navbar-nav li a, .navbar-brand{
    color: white !important;
}
.add-btn {
    position: fixed;
    background-color: slategrey;
    padding: 10px;
    border-radius: 70px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
    top: 90%;
    left: 90%;
    font-size: 20px;
}
.add-btn:hover {
    color: #cfd8dc;
}
.action-items i {
    padding: 0px 15px 0px 0px;
}
.action-items i:hover {
    color: black;
}

.welcome_page{
    text-align: center;
    color:red;
}
.form-row div{
    margin: 10px 0px 10px 0px;
}
.back-btn {
    color: slategrey
}
footer p {
    text-align: center;
}
.btn-primary {
    background-color: slategrey;
}
.form-row .form-control {
    max-width: none;
}
.container h1 {
    border-bottom: 1px solid lightgrey;
    color: slategrey;
}
td{
    color: #616161;
}
.user-container{
    float: right;
}